body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    background-image: url("https://www.popsci.com/uploads/2019/03/18/JZJLNX5GQRCUYIXRMJ6CQZBPNU.jpg?auto=webp");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;

  }

  h1, h2 {
    text-align: center;
    margin: 20px 0;
  }
  
  /* Form inputs */

  .submissions {
    display: inline-flex;
    justify-content: center;
    margin-left: 10px;
    flex-flow: column wrap;
    justify-content: space-between;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  label, select, input, button {
    margin: 0 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  select, input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .fancy_button {
    position: relative;
    display: block;
    margin: auto;
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 300px;
    height: 100px;
    background-color: #3498db;
    border-radius: 5px;
    line-height: 100px;
    cursor:pointer;
  }

  .fancy_button span,
  .fancy_button .icon {
    position:absolute;
    display: block;
    height: 100%;
    text-align: center;
  }

  .fancy_button span {
    line-height: inherit;
    width: 72%;
    font-size: 20px;
    left: 5%;
    font-weight: bold;
  }
  
  .fancy_button .icon {
    right: 0px;
    width: 28%;
  }

  .fancy_button .icon .fa {
    font-size: 25px;
    vertical-align: middle;
  }

  .icon {
    background-color: #276fa0;
    height: 100px;
  }

  .fancy_button span, 
  .fancy_button div,
  .fancy_button i {
    transition: all 1s linear;
  }

  .fancy_button:hover .icon {
    width: 100%;
  }

  .fancy_button:hover .icon .fa {
    font-size: 35px;
  }

  #submit-button {
    background-color: #6e3b1c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-duration: 0.75s;
  }

  #submit-button:hover {
    background-color: red
  }


/* banner */

.banner {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 400px;

}

.banner h1 {
  display: flex;
  justify-items: center;
  align-items:flex-start;
  padding-top: 20px;
  padding: 20px;
  color:rgb(27, 116, 219);
}

/* dropdown menu colors */

.unchosen {
  color: grey;
}

.chosen {
  color: black;

}

/* response from gmail API */

.response {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size:xx-large;
  display: flex;
  text-align: right;
  text-decoration-skip:inherit;
  padding: 40px
}

/* table */

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

th {
  border: 2px solid #6e3b1c;
}

table {
  text-align: center;
  margin: 10px auto;
}

td {
  border: 2px solid #6e3b1c;
  width: 200px;
}

#showcount {
  background-color: #6e3b1c;
  display: flex;
  justify-items: center;
  align-items: center;
}

/* loading bar */

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 4s linear infinite;
  position: absolute;
  top: 75%;
  left: 50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}