<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Gmail cleaning service</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/delete_mails.css') }}">
    <script src="https://kit.fontawesome.com/3c48dcaf01.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="banner">
      <h1><i class="fa fa-google"></i>mail Cleaning Service</h1>
    </div>
    <h2>This tool can delete from any label in your Gmail library, any number of emails<i class="fa-solid fa-ad"></i></h2>
    
    <form method="post">
      <div class="submissions">
        <label for="label-dropdown">Select label:</label>
          <select id="label-dropdown" name="label-dropdown">
              <option value='value1' class="unchosen">---------- Choose label ----------</option>
              {% for label in label_list %} 
                <option value={{ label }} class="chosen">{{ label }}</option>
              {% endfor %}
          </select>

        <label for="number-input">Quantity:</label>
        <input type="number" id="number-input" name="number-input">
      </div>

      <button type="submit">
        <a class="fancy_button" style="color: black;" stylehref="#" type="submit" role="button">
          <span>Trash</span>
          <div class="icon">
            <i class="fa fa-trash-alt"></i>
          </div>
        </a>
      </button>
    </form>

    {% if response %}
    <div class="response">
      <p>{{ response }}</p>
    </div>
    {% endif %}

    <div class='container'>
      <table class='data-table'>
        <thead>
          <tr>
            <th colspan='2'>
            <h3>Number of emails</h3>
            </th>
          </tr>
          <tr>
            <th>
              <h4>Label</h4>
            </th>
            <th>
              <h4>Number of Emails</h4>
            </th>
          </tr>
        </thead>
        <tbody id="label-table-body">
        </tbody>
      </table>
      <button type="button" id="showcount">Show table of labels and emails</button>

      <div class="loader" id="loader" style="display: none;"></div>
    
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script>
        $(document).ready(function() {
          $("#showcount").click(function() {
            $('#loader').show();
            $.ajax({
              type: "GET",
              url: "/get_data",
              success: function(data) {
                fetch('/get_data')
                  .then(response => response.json())
                  .then(data => {
                    $('#loader').hide();
                    // Update table with label data
                    const labelTableBody = document.getElementById('label-table-body');
                    for (const [label, count] of Object.entries(data)) {
                      const row = labelTableBody.insertRow();
                      const labelCell = row.insertCell();
                      const countCell = row.insertCell();
                      labelCell.innerText = label;
                      countCell.innerText = count;
                    }
                  })
                  .catch(error => {
                    console.log('Error:', error);
                  });
              },
              error: function(error) {
                console.log('Error:', error);
              }
            });
          });
        });
      </script>
    </div>
  </body>
</html>
